<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recover.dao.OrderDao">

    <select id="listByuserId" resultType="Order">
        select * from order
        where user_id = #{userId} and is_deleted = 0
        order by gmt_create desc
    </select>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into order
        (user_id,order_type,order_desc,payment,payment_type,post_fee,
        buyer_message,buyer_nick,gmt_create,gmt_modified,article_name,article_num)
        VALUES
        (#{userId},#{orderType},#{orderDesc},#{payment},#{paymentType},'',
        #{buyerMessage},#{buyerNick},now(),now(),#{articleName},#{articleNum})
    </insert>
</mapper>
